<table class="table table-striped table-hover">
  <thead>
    <tr class="table-info">
      <th class="display-4">Lista de actores</th>
      <th class="text-end">
        <button class="btn btn-primary" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (item of VM.Listado; track item) {
      <tr>
        <td>
          <a class="btn btn-link btn-lg px-0" routerLink="{{item.id}}/{{item.nombre | normalize | lowercase}}">{{item.nombre | titlecase}}</a>
        </td>
        <td class="align-middle text-end">
          <div class="btn-group" role="group">
            <button class="btn btn-success" [routerLink]="[item.id, 'edit']"><i class="fas fa-pen"></i></button>
            <button class="btn btn-danger" (click)="VM.delete(item.id, VM.load)"><i class="far fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
<p-paginator [first]="VM.rowsPerPage*VM.page" [rows]="VM.rowsPerPage" [totalRecords]="VM.totalRows"
[pageLinkSize]="5" (onPageChange)="VM.pageChange($event.page)"></p-paginator>
