<app-notification-modal />
<div class="container theme-dark">
  <div class="row">
    <div class="col">
      <calculadora [SeparadorDecimal]="','" (updated)="ponResultado('IZQ', $event)" />
    </div>
    <table class="col table table-striped">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Calc</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">Idioma: <select [(ngModel)]="idioma">
              @for (i of idiomas; track i.codigo) {
                <option [value]="i.codigo">{{i.region}}</option>
              }
            </select>
          </td>
        </tr>
      </tfoot>
      <tbody>
        @for (r of calculos | slice:-10; track r) {
          <tr>
            <td class="text-right">{{r.pos}}</td>
            <td>{{r.origen}}</td>
            <td class="text-right">{{r.valor | number:'1.0-8':idioma }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="col">
      <calculadora [init]="valCalculadora" (updated)="ponResultado('DER', $event)"></calculadora>
    </div>
  </div>
  <div class="row">
    <input type="number" [(ngModel)]="valCalculadora">
  </div>
</div>
<h1>Hola {{Nombre | elipsis:10 | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="Nombre">
  <input type="button" value="saluda" (click)="saluda()" >
  <input type="button" value="despide" (click)="despide()" >
  <input type="button" value="di algo" (click)="di('algo')" >
  <input type="button" value="cambia" (click)="cambia()" >
  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" >
  <input type="button" value="Warn" (click)="vm.add('Esta notificación es un aviso', vm.NotificationType.warn)" >
  <input type="button" value="Info" (click)="vm.add('Solo una notificación informativa', vm.NotificationType.info)" >
  <input type="button" value="Log" (click)="vm.add('Para trazar con notificaciones', vm.NotificationType.log)" >
</p>
<app-card header="Ejemplo de Tarjeta" >
  <p [textContent]="resultado">Esto se pierde</p>
  <p [innerHTML]="resultado">Con HTML</p>
  <p>{{fecha | date:'dd/MMM/yyyy'}}</p>
</app-card>

<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora existe</p>
@if(visible) {
  <p>Ahora existe</p>
}
<p [ngClass]="estetica">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quibusdam architecto reprehenderit praesentium ratione corrupti unde, laboriosam dolor expedita, iure veritatis aperiam. Necessitatibus, adipisci esse! Suscipit veniam repellendus sapiente provident!
</p>
<p [class.semivisible]="!visible">Ahora me ves bien</p>

<p>
  Calcula: 2 + 2 = {{(2+2) | number:'2.2-3'}} = {{calcula(2,2)| currency:'EUR':'symbol':'1.2-2' }}
</p>

<ul>
  <li *ngFor="let item of listado | slice:-5; let indice=index; let fondo=odd;"
    [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
    {{item.nombre | titlecase}} ({{item.id}}) [Elemento {{indice + 1}} de {{listado.length}}]
  </li>
  @for(item of listado; track item.id) {
    <li [style.background-color]="$odd ? 'LightBlue' : 'Lavender'">
      {{item.nombre | titlecase}} ({{item.id}}) [Elemento {{$index + 1}} de {{listado.length}}]
    </li>
  }
</ul>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of listado" [value]="p.id">{{p.nombre | capitalize}}</option>
  </select>
  Selección: {{idProvincia}}
  <input type="text" value="Tabarnia" #txtProvincia >
  <input type="button" value="add" (click)="add(txtProvincia.value)" >
</p>
<my-sizer [(size)]="fontSize" />
<p  [style.font-size.px]="fontSize">{{listado | json}}</p>
