<h1>Hola {{Nombre | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="Nombre">
  <input type="button" value="saluda" (click)="saluda()" >
  <input type="button" value="despide" (click)="despide()" >
  <input type="button" value="di algo" (click)="di('algo')" >
  <input type="button" value="cambia" (click)="cambia()" >
  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" >
  <input type="button" value="Warn" (click)="vm.add('Esta notificación es un aviso', vm.NotificationType.warn)" >
  <input type="button" value="Info" (click)="vm.add('Solo una notificación informativa', vm.NotificationType.info)" >
  <input type="button" value="Log" (click)="vm.add('Para trazar con notificaciones', vm.NotificationType.log)" >
</p>
<p [textContent]="resultado">Esto se pierde</p>
<p [innerHTML]="resultado">Con HTML</p>
<p>{{fecha | date:'dd/MMM/yyyy'}}</p>

<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora existe</p>
<p [ngClass]="estetica">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quibusdam architecto reprehenderit praesentium ratione corrupti unde, laboriosam dolor expedita, iure veritatis aperiam. Necessitatibus, adipisci esse! Suscipit veniam repellendus sapiente provident!
</p>
<p [class.semivisible]="!visible">Ahora me ves bien</p>

<p>
  Calcula: 2 + 2 = {{(2+2) | number:'2.2-3'}} = {{calcula(2,2)| currency:'EUR':'symbol':'1.2-2' }}
</p>

<ul>
  <li *ngFor="let item of listado | slice:-5; let indice=index; let fondo=odd;"
    [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
    {{item.nombre | titlecase}} ({{item.id}}) [Elemento {{indice + 1}} de {{listado.length}}]
  </li>
</ul>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of listado" [value]="p.id">{{p.nombre}}</option>
  </select>
  Selección: {{idProvincia}}
  <input type="text" value="Tabarnia" #txtProvincia >
  <input type="button" value="add" (click)="add(txtProvincia.value)" >
</p>
<p>{{listado | json}}</p>
