<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" tabindex="0"><img class="rounded" src="images/logo.png"
          alt="Logotipo corporativo" height="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
        aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbarDark"
        aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/inicio"><i class="fa-solid fa-house"></i> inicio</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/demos"><i class="fa-solid fa-chalkboard-user"></i> demos</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/chisme/de/hacer/numeros"><i class="fa-solid fa-calculator"></i> calculadora</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/contactos"><i class="fa-solid fa-address-book"></i> contactos</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/alysia/baxendale"><i class="fa-solid fa-address-book"></i> alysia</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/algo.svg"><i class="fa-solid fa-image"></i> gráfico</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/config"><i class="fa-solid fa-gears"></i> config</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/config/datos"><i class="fa-solid fa-gear"></i> datos</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/falsa"><i class="fa-solid fa-ban"></i> falsa</a></li>
          </ul>
          <app-login />
        </div>
      </div>
    </div>
  </nav>
</header>
